.idea/
.vscode/
__pycache__
sftp.json

logs/**
models_paras/**
tensorboard_logs/**
test_result/**
data/**
utils/ChamferDistancePytorch/*/dist
utils/ChamferDistancePytorch/*/build
utils/emd/dist
utils/emd/build

**/build
**/*.egg-info


*.log
*.pth
